@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/jquery.signalR.min.js"></script>
<script src="http://127.0.0.1:8889/signalr/hubs"></script>
<script src="~/js/connect.js"></script>
